$base-font : "helvetica neue", helvetica, arial, sans-serif;
$base-font-size: 1em;
$base-line-height: 1.5;

$black: #000;
$white: #fff;

$transition-function: cubic-bezier(0.645, 0.045, 0.355, 1);
$asset-path: "https://s3-us-west-1.amazonaws.com/rendezvous7.net/media/black-and-white";
